{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
  	"indent":["error", 4],
	"react/jsx-indent": [true, 4],
	"jsx-a11y/anchor-is-valid": [ "error", {
		"components": [ "Link" ],
		"specialLink": [ "hrefLeft", "hrefRight","to" ],
		"aspects": [ "noHref", "invalidHref", "preferButton" ]
	}],
	"quotes": "off",
	"no-undef":"warn",
    "space-before-function-paren": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "warn",
    "arrow-body-style": "off"
  }
}
