<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title || 'DevNet'%></title>
    <link rel="shortcut icon" href="https://developer.cisco.com/img/favicon.ico">
    <link rel="canonical" href="/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <% if (htmlWebpackPlugin.options.name) { %>
    <meta name="name" content="<%= htmlWebpackPlugin.options.name%>" >
    <% } %>
    <% if (htmlWebpackPlugin.options.version) { %>
    <meta name="version" content="<%= htmlWebpackPlugin.options.version%>" >
    <% } %>

    <% if (htmlWebpackPlugin.options.commitid) { %>
    <meta name="commitid" content="<%= htmlWebpackPlugin.options.commitid%>" >
    <% } %>

    <% if (htmlWebpackPlugin.options.env) { %>
    <meta name="env" content="<%= htmlWebpackPlugin.options.env%>" >
    <% } %>

    <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description%>" >
    <% } %>


    <% if (htmlWebpackPlugin.options.keywords) { %>
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords%>" >
    <% } %>

    <% for (var css in htmlWebpackPlugin.options.css) { %>
    <link href="<%= htmlWebpackPlugin.options.css[css] %>?<%= htmlWebpackPlugin.options.commitid%>" rel="stylesheet">
    <% } %>
</head>
<body>


<div id="root"></div>

<% if (htmlWebpackPlugin.options.window) { %>
<script>
    <% for (var varName in htmlWebpackPlugin.options.window) { %>
        window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
        <% } %>
</script>
<% } %>

<% for (var js in htmlWebpackPlugin.options.js) { %>
<script src="<%= htmlWebpackPlugin.options.js[js] %>?<%= htmlWebpackPlugin.options.commitid%>" defer></script>
<% } %>





</body>
</html>
