.common-filter-group {
    padding: .5em;
    .title {
	margin: .2em 0;
	border-bottom: 1px solid #ccc;
    }
    .option {
	margin: .2em 0;
	height:1em;
	cursor: pointer;
	&:hover {
	    opacity: .8;
	}
	.toggle {
	    position: abolute;
	    left:0;
	    top: 0;
	    width: 1em;
	    height:1em;
	    margin-right: .5em;
	    text-align: center;
	    border-radius: 50%;
	    font-weight: 300;
	}
    }
}
