.common-dialog {
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    &-mask {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-color: rgba(0,0,0,.1);
    }
    &-body {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin: auto;
	.panel-header {
	    padding: 1em;
	    line-height: 2em;
	}
	.panel-body {
	    padding: 1em;
	}
    }
}
